<div class="d-flex justify-content-center align-items-center" style="height: 100vh; background-color: #454D55;">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-6" style="padding: 15px;">
                <button type="button" class="btn btn-primary" (click)="redirectTo('openpay')">
                    OpenPay
                </button>
            </div>
            <div class="col-md-6" style="padding: 15px;">
                <button type="button" class="btn btn-info" (click)="redirectTo('conekta')">
                    Conekta
                </button>
            </div>
        </div>
    </div>
</div>